@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-down {
    from {
      max-height: 0;
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      max-height: 500px; /* Adjust max-height as needed */
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-down {
    animation: slide-down 0.3s ease-out forwards;
  }
}
